# Librerías básicas
discord.py
python-dotenv
aiohttp
pytz
soundfile
numpy

# Torch optimizado para CPU (Python 3.10)
https://download.pytorch.org/whl/cpu/torch-2.1.0%2Bcpu-cp310-cp310-linux_x86_64.whl

# TTS versión compatible con torch >= 2.1
TTS==0.22.0
